@model List<PacchettoViaggio>;

@{
    bool isEmpty = !Model.Any();
}

@{
    if(!isEmpty){
    <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Prezzo</th>
                        <th scope="col">Partenza</th>
                    </tr>
                </thead>
                <tbody>
                    
                    @{
                        foreach (var pacchetto in Model)
                        {
                        <tr>
                            <th>@pacchetto.Name</th>
                            <td>@pacchetto.Price</td>
                            <td>@pacchetto.Date</td>
                        </tr>
                        }
                    }

                </tbody>
    </table>
    }

    else{
    <h3>Non ci sono pacchetti da mostrare</h3>
    }
}
