@{
    Layout = "_LayoutHome";
}

<div class="row">

    <div class="col-6 trip-detail">

        <div class="image">
        </div>
        <div class="text"></div>

    </div>


    <div class="col-6"> 

        <form onsubmit="sendMessage(event)" class="m-auto">

            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control shadow-none" id="name" placeholder="Inserisci il nome">
            </div>

            <div class="form-group">
                <label for="email">Email address</label>
                <input type="text" class="form-control shadow-none" id="email" placeholder="Inserisci la tua email">
            </div>

            <div class="form-group">
                <label for="title">Titolo</label>
                <input type="text" class="form-control shadow-none" id="title" placeholder="Inserisci il titolo">
            </div>

            <div class="form-group">
                <label class="form-check-label" for="content">Messaggio</label>
                <textarea class="form-control shadow-none" rows="6" id="content" placeholder="Scrivi qualcosa..."></textarea>
            </div>

            <button type="submit" class="btn btn-secondary my-2">Invia</button>
        </form>

    </div>

</div>

<script>

    function sendMessage(e){

        const id = window.location.pathname.split("/")[3];

        e.preventDefault();

        axios.post("/Api/Messages/Send", {

            customerName: $('#name')[0].value,
            customerEmail:  $('#email')[0].value,
            title: $('#title')[0].value,
            content: $('#content')[0].value,
            pacchettoViaggioId: id
           
        })
        .then(r => {

            reset();

                console.log(r.data)
            alert("Messaggio inviato")
        })
        .catch(e => {

            console.log(e)
                alert("Messaggio non inviato")
        })
    }


    
    axios.get("/Api/Trips/Detail", {
        params: {
            id
        }
    })

    .then(r => {

        let trip = r.data;

            $('.image')[0].innerHTML = `<img src="${trip.image}" />`

            $('.text')[0].innerHTML = `
            
            ${trip.name}
            ${trip.description}
            € ${trip.price}
            ${trip.date}`

    })
    .catch(e =>{
        console.log(e.message);
    })


    //funzione reset

    function reset() {

        $("#name")[0].value = "";
        $("#email")[0].value = "";
        $("#title")[0].value = "";
        $("#content")[0].value = "";
    }

</script>